*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7393B3;
}

/* .menu-select{
    top: 10px;
    border-radius: 10px;
    position: absolute;
    background-color:aliceblue;
    width: 80%;
    height: 50px;
    padding: 10px 10px;
    text-align: center;
    transition: 1s ease-out;
}

.menu-select button{
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    color: #7393B3;
    font-weight: 500;
    font-size: large;
}

.menu-select button:hover{
    background-color: #7393B3;
    color:aliceblue;
} */

.container{
    position: relative;
    background-color:aliceblue;
    width: 360px;
    height: 320px;
    padding: 28px 32px;
    overflow: hidden; 
    border-radius: 18px;
    transition: 1s ease-out;
}

.searchbox{
    width: 100%;
    height:min-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchbox input{
    color:#7393B3;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform:capitalize;
    padding-left: 30px;
    background-color: aliceblue;
}

.searchbox input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #7393B3;
    text-transform: capitalize;
}

.searchbox button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color:#7393B3;
    background-color:aliceblue;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.searchbox button:hover{
    color: white;
    background-color: #7393B3;
}

.searchbox i{
    position: relative;
    padding-right: 0px;
    font-size: 28px;
}

.weather-box{
    text-align: center;
}

.weather-box .temperature{
    position: relative;
    color: #7393B3;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #7393B3;
    font-size: 22px;
    font-weight:500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #7393B3;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #7393B3;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #7393B3;
    font-size: 15px;
    font-weight: 500;
}
